.form {
    margin: 0 auto;
    padding: 12px;
    border: 3px solid rgb(1, 83, 5);
    background-color: rgb(156, 192, 153);
    width: 360px;
}

.registerField {
    margin-bottom: 12px;
    height: 36px;
    width: 256px;
}

.registerBtn {
    padding: 8px;
    width: 96px;
}