/* .header {
    background-color: rgb(110, 116, 31);
    height: 64px;
    padding: 20px;
    margin-bottom: 16px;

}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.pageNavigation {
display: flex;
gap: 20px;
}

.navItems {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.active {
    color: #771306;
} */