.form {
    padding: 20px;
    border: 3px solid rgb(1, 83, 5);
    background-color: rgb(156, 192, 153);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 360px;
}

.dataFielf {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.addContactBtn {
    padding: 8px;
    width: 120px;
    height: 46px;
    margin: 0 auto;
    background-color: rgb(233, 226, 133);
}

.errorMessages {
    color: red;
}