body {
    font-family: Roboto, sans-serif;
    background-color: rgb(212, 191, 146);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
    padding: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
}

.container {
   
    padding: 20px;
}

.title {
    color: #1b6d03;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 24px;
}

.loading {
    color: #244703;
}
.error {
    margin: 0 auto;
    font-size: 36px;
    color: #244703;
    text-align: center;
}